.username{
    /* border: 2px solid red; */
margin-left: 80%;

}
.employer-nav{
    background-color: #00737e;
   display: grid;
   grid-template-columns: auto auto auto auto;
    margin-top: 7px;
    padding: 15px;
  
}
.navList{
/* border: 4px solid red; */
display: flex;
align-items: center;
justify-content: center;
}
.navList a{
color: #fff !important;
}
.epostHeading{ 
    /* border: 2px solid red; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.epostJob{
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 10px;
    /* height: 100vh; */
}
.ejobList{
    /* padding: 50px; */
    margin: 15px;
    width: 100%;
   

}
.ejobList input , .ejobSelect{
    background-color: rgb(227, 227, 227);
    border: none;
    padding: 10px;
     
}
.erichText{
    width: 100%;
    /* height: 450px; */
    /* border: 2px solid green; */
}

@media only screen and (max-width: 1000px) {
    .username{
  
    margin-left: -80%;
    }   
}