.forgetPassMain{
    /* border: 4px solid blue; */
    display: flex;
   align-items: center;
   justify-content: center;
    padding: 10px;
}
.forgetBox{
    /* border:3px solid red; */
  padding: 50px 0;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faceIcon{
    color: rgb(98, 100, 100);
    /* border: 2px solid green; */
    margin: 20px 0;
}
.forgetHeading{
    font-weight: bold;
    font-size: 25px;
}
.forgetPara{
    font-size: 12px;
    font-weight: light;
    letter-spacing: 2px;
}
.forgetPasswordForm{
    width: 100%;
    padding: 20px;
}
.forgetPasswordLabel{
    font-weight: 600;
    font-size: 15px;
}
.forgetPasswordForm input{
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(207, 202, 202);
}
.forgetPasswordBtn{
    background-color: #00737e;
    border: none;
   
}
.displayModal input{
    /* border: 2px solid red; */
    margin: 10px 0; 
    padding: 8px ;
}
@media only screen and (max-width: 450px) {
   
    .forgetHeading , .modalHeading{
        font-size: 17px;
    }
    .forgetPara{
        font-size: 8px;
        text-align: center;
        font-weight: light;
        letter-spacing: 2px;
    }
    .forgetPasswordLabel{
        font-size: 13px;
    }
    .forgetPasswordForm{
        padding: 0px;  
    }
    .forgetPasswordForm input , .displayModal input, .modalPara{
        font-size: 12px; 
    }
    .forgetPasswordBtn{
        font-size: 10px;
        margin: 10px 0;
        letter-spacing: 1px;
    }
    .modalBtn{
        font-size: 10px;   
        letter-spacing: 1px;
    }
  
}