.username {
  /* border: 2px solid red; */
  margin-left: 80%;
}
.jobseeker-nav {
  background-color: #00737e;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 7px;
  padding: 15px;
}
.navList {
  /* border: 4px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.navList a {
  color: #fff ;
  /* border: 2px solid goldenrod; */
  padding: 0;
}
.jdashboardMain {
  margin-top: 20px !important;
  /* border: 1px solid red; */
  padding: 0 100px;
  /* width: 100vw; */
}
.jFirst {
  background-color: rgb(246, 246, 246);
  display: flex;
  width: 100%;
}
.jPhoto {
  /* background-image: url('../img//banner1.jpg'); */
  height: 150px;
  width: 150px;
  margin: 20px;
  border: 2px solid rgb(237, 237, 242);
  display: flex;
  justify-content: center;
  align-items: center;
}
.jDetails {
  /* border: 3px solid rgb(162, 239, 9); */
  padding: 10px;
  margin: 20px;
}
.jSecond {
  background-color: #00737e;
  color: #fff;
  padding: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  text-align: center;
  margin: 10px 0;
  width: 100%;
}
.jThird {
  background-color: rgb(237, 234, 231);
  width: 100%;
}
.jprofileMain{
    /* border: solid 2px red; */
    display: flex;
    flex-direction: column;
}
 
.jprofileTop{
  /* border: 3px solid green; */
  display: grid;
  grid-template-columns: 30% 70%;

}
.jprofileLeft{
  /* border: 4px solid blue; */
 padding: 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 /* padding-top: 100px; */
}
.jprofileImg{

  border:4px solid rgb(228, 227, 227);
  /* background-image: url('../img/user.png'); */
  height: 250px;
  width: 250px;
  background-size: cover;
  border-radius: 50%;

}
.jprofileRight{
  padding: 60px;
}
a.active {
  color: rgb(34, 241, 241) !important;
}
.jsettingMain{
  /* border: 2px solid red; */
  padding: 50px 0px;
  width: 100%;
}
.jsettingForm{
  /* border: 4px solid green; */
  height: 100%;
  width: 100%;
  padding: 20px 400px;
}
.jappliedJobMain{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  height: 80vh;
}
.viewLink{
  color: #00737e;
}


















@media only screen and (max-width: 1200px) {
  .jsettingForm{
    padding: 20px 100px;

  }
}
@media only screen and (max-width: 1000px) {
  .username {
    margin-left: -80%;
  }
  .jprofileRight input{
    font-size: 15px;
  }
}
@media only screen and (max-width: 900px) {
  .jprofileTop{
    /* border: 3px solid green; */
    display:flex;
    flex-direction: column;
  }
  .jprofileImg{
    height: 200px;
    width: 200px;  
  }
  .jTable {
    font-size: 14px;
  }
  
}
@media only screen and (max-width: 650px) {
  .jdashboardMain {
    padding: 0 0px;
    margin: 0;
    width: 100vw;
  }
  .jFirst {
    display: flex;
    flex-direction: column;
  }
  .jTable {
    font-size: 10px;
  }
  .navList a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 450px) {
 
  .jprofileRight input, .form-select{
    font-size: 12px;
  
  }
  .jprofileBtn{
    font-size: 13px;
  }
  .jsettingForm{
    padding: 20px 40px;

  }
  .jsettingForm input , .jsettingBtn{
    font-size: 13px;
  }
.viewLink{
  font-size: 9px;
  color: rgb(39, 39, 37);
  padding: 0;
  /* border: 3px solid red; */
}
} 