.searchMain{
    /* border: 3px solid red; */
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.searchHeading{
    /* border: 3px solid brown; */
}
.searchHeading h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.searchHeading p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}
.searchInput{
    /* border: 4px solid purple; */
    padding: 20px 0;
    margin-top: 20px;
}
.searchInput input{
    border: none;
    background-color: rgb(229, 226, 226);
    height: 50px;
    width: 300px;
    border-radius: 20px;
    padding: 15px;
}
.listTable{
    border: 2px solid red;
    width: 100%;
}
